.countdown-area {
  min-width: 50px;
  width: 10%;
  aspect-ratio: 1/1;
  background-color: hsl(236, 21%, 26%);
  margin: 0px 10px;
  position: relative;
  border-radius: 10px;
}

.text {
  font-family: "Red Hat Text", sans-serif;
  text-align: center;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: hsl(345, 95%, 68%);
}

.overlay {
  position: absolute;
  height: 50%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: hsla(235, 16%, 14%, 0.4);
  top: 0;
}

.shadow {
  width: 100%;
  height: 20px;
  background-color: hsla(235, 16%, 14%, 1);
  position: absolute;
  top: 90%;
}

.label {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 110%;
  color: hsl(237, 18%, 59%);
  font-family: "Red Hat Text", sans-serif;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -5px;
  top: calc(50% - 5px);
}

.rightdot {
  left: auto;
  right: -5px;
}

@media screen and (max-width: 900px) {
  .number {
    font-size: 3rem;
  }

  .label {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .number {
    font-size: 1.5rem;
  }

  .label {
    font-size: 0.8rem;
  }
}
